body{
	margin: 0;
	
}
header{
	background-color: pink;
padding: 20px;
	text-align: center;
font-family: "comic sans ms", arial;
}


nav{
	overflow: hidden;
	background-color: #333;
}
nav a{
	float: left;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-family: arial;


}



.column{
	float: left;
	padding: 10px;
}


.column.side{
width: 20%
}
.column.middle{
	width: 50%
}

@media screen and ( max-width: 612px)
{
	.column.side, .column.middle{
		width: 100%;
	}	
}


p{
	text-align: justify;
}

footer{
	clear: both;
	background-color: pink;
padding: 20px;
text-align: center;
font-family: "comic sans ms", arial;
}


